@font-face {
  font-family: "Tropikal";
  src: url("../components/assets/tropikal-bold-webfont.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "SISIL";
  src: url("../components/assets/BAYBAYINSISIL.woff") format("woff");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1ece4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1d1e18;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2463a6;
  border-radius: 8px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", verdana, sans-serif;
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  background-color: #f1ece4;
  background-image: url("https://media.giphy.com/media/3og0IyRiAsl1Pczi6Y/giphy.gif");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2463a6;
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2463a6;
          box-shadow: 0 0 1px #2463a6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

h1,
h2,
h3,
h4 {
  font-family: "Tropikal", Georgia, serif;
}

a {
  color: #1d1e18;
}

a:hover {
  text-decoration: none;
  color: #2463a6;
}

.btn {
  color: #2463a6;
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid #2463a6;
  border-radius: 8px;
}

.btn:hover {
  background-color: #2463a6;
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid #2463a6;
  color: #f1ece4 !important;
}

.logo-nav {
  width: 35px;
}

.animation-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-size: 0.8rem;
  background: #f1ece4;
  padding: 8px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animation-mode p {
  margin-bottom: 0;
  margin-right: 15px;
}

/* Not avail for firefox and IE .bg-blur {
  background-color: rgba($color: #f1ece4, $alpha: 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}*/
.bg-blur {
  background-color: #f1ece4;
}

.navbar a,
footer a {
  padding: 5px 20px;
  margin: 0 10px;
}

.navbar a:hover,
footer a:hover {
  color: #2463a6;
  text-decoration: none;
  border-bottom: 1px solid #2463a6;
}

.navbar a:focus,
footer a:focus {
  color: #2463a6;
  text-decoration: none;
  border-bottom: 1px solid #2463a6;
}

.navbar ul,
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar li,
footer li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  font-family: "Tropikal", Georgia, serif;
  font-size: 1.3rem;
}

.homepage {
  height: 40vh;
  width: 70vw;
  padding: 0 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials {
  z-index: 2;
  font-size: 1.6rem;
}

.socials .menu {
  display: block;
  position: absolute;
  right: 0;
  margin: 0 40px 0 25px;
}

.socials ul {
  text-align: right;
  list-style: none;
}

section {
  padding: 25px 0;
}

.homepage__featured-work {
  height: 60vh;
}

.homepage__featured-work h1 {
  text-align: center;
  margin: 50px 0;
}

.card-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5rem;
}

.card-wrap a {
  text-decoration: none;
  border: 1px solid #f1ece4;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.card-wrap a:hover {
  text-decoration: none;
  border: 1px solid #f1ece4;
  color: #1d1e18;
  border-radius: 8px;
}

.card-wrap a:hover .card {
  -webkit-box-shadow: 0 0 10px 2px rgba(187, 164, 128, 0.1);
          box-shadow: 0 0 10px 2px rgba(187, 164, 128, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
}

.card-wrap a:hover .card__btn {
  color: #2463a6;
}

.card-wrap .card {
  width: 27rem;
  border-radius: 8px !important;
  min-height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(241, 236, 228, 0.3);
  border: transparent;
}

.card-wrap .card__img {
  background-color: #1d1e18;
  border-radius: 8px;
}

.card-wrap .card__img img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-wrap .card__body {
  padding: 15px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-wrap .card__body p {
  font-size: 1rem;
}

.card-wrap .card__body .role {
  font-size: 1rem;
}

.card-wrap .card__btn {
  color: #1d1e18;
  padding: 5px 15px;
  text-align: center;
  font-size: 1rem;
}

.card-wrap .card__btn p {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer {
  border-top: 1px solid #1d1e18;
  padding: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100vw;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about {
  width: 70vw;
  margin: auto;
}

#about .baybayin-animation {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about .baybayin-animation .baybayin-header {
  font-family: "SISIL", Georgia, 'Times New Roman', Times, serif;
  font-size: 10rem;
}

#about .pronouns {
  vertical-align: super;
  font-size: 1rem;
  font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
}

#about .socials ul {
  padding: 0;
  margin: 0;
}

#about .socials .menu {
  display: block;
  right: 0;
  bottom: calc(20% - 5em);
  /*.socials-text {
     text-transform: uppercase;
     transform: rotate(90deg);
   }*/
}

#about .socials .menu li {
  text-align: center;
}

#about .socials .menu .devpost-icon {
  width: 36px;
}

#about .card-wrap a:hover .mini-card {
  -webkit-box-shadow: 0 0 10px 2px rgba(187, 164, 128, 0.1);
          box-shadow: 0 0 10px 2px rgba(187, 164, 128, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
}

#about .mini-card {
  width: 15rem;
  border-radius: 8px !important;
  min-height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(241, 236, 228, 0.3);
  border: transparent;
}

#about .mini-card__img {
  border-radius: 8px;
}

#about .mini-card__img img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .mini-card p {
  text-align: center;
}

#about .mini-card .smaller-icon {
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding-top: 15px;
}

.pfp {
  width: 20vw;
  margin: auto;
}
/*# sourceMappingURL=main.css.map */