$white: #f1ece4;
$black: #1d1e18;
$navy: #0e1c2f;
$blue: #2463a6;
$beige: #f5e0bf;
$purple: #8c86aa;
$darkpurple: #696178;
$radius: 8px;
$border: 1px solid $black;

.progress {
  background: $purple;
  height: 5px;
}

article {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
.video-center {
      text-align: center;
    }
  .article__intro {
    padding: 0;
    justify-content: center;
    .article-title {
      text-align: center;
    }
    
  }
  .article__img-banner {
    width: 100vw;
    margin-bottom: 2rem;
    img {
      width: 100%;
      
      object-fit: cover;
    }
  }
  .section-container {
    height: 28vh;
  }
  h1 {
    text-align: center;
  }
  .article__text-focus {
    width: 50vw;
    margin: auto;
  }
}
.article__iframe {
  text-align: center;
  height: 55vh;
}
.section-list {
  height: 15vh;
}
.article__description-card {
  width: 50vw;
  margin: auto;
  padding: 2rem;
  border-radius: $radius !important;
  min-height: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba($color: #f1ece4, $alpha: 0.5);
  border: 1px solid $white;
  h5 {
    text-align: center;
    font-size: 1.2rem;
    color: $blue;
  }
  .article__card-body {
    padding: 15px 30px;
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      font-size: 1rem;
    }
    .role {
      font-size: 1rem;
      //font-weight: bold;
    }
  }
  &__btn {
    color: $black;
    padding: 5px 15px;
    text-align: center;
    font-size: 1rem;
    p {
      align-items: flex-end;
    }
  }
}

.img-grid {
  width: 100%;
  display: block;
  overflow-y: hidden;
  margin: 3rem 0;

  .grid-wrap {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .grid {
      width: 20rem;
      border-radius: $radius !important;

      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
    .grid-body {
      //      padding: 0.3rem;

      img {
        width: 100%;
        object-fit: cover;
        border-radius: $radius !important;
      }
    }
  }
}
.article__footer {
  width: 50vw;
  margin: auto;
}
.text-bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.goals-list {
  li {
    list-style: none;
    margin-bottom: 10px;
  }
  li::before {
    content: "\21FE";
    margin-right: 5px;
  }
}

.pagination {
  border-top: $border;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}
.filter {
  display: flex;
  justify-content: space-evenly;
width:80%;
margin: auto;
  .tag {
    padding: 0.5rem 1rem;
    border: 1px solid $purple;
    border-radius: 25px;
    background: $purple;
    color: $white;
    h6 {
      margin: 0;
    }
  }
}
.todo {
  li {
    list-style-type: "\1F331"; //seedling
  }
}
.todo-comp {
  li {
    list-style-type: "\2713";
  }
}

.todo-impact {
  li {
    list-style-type: "\1F33C";
  }
}
.article__footer {
  .article__description-card {
    text-align: center;
  }
}
.article__img-banner-sm {
  height: 100%;
  text-align: center;
  img {
    width: 65vw;
    margin: auto;
    margin:2rem 0;

  }
}

  figcaption {
  font-size: 1.1rem;
  font-style: italic;
  color: $darkpurple;
}

