$white: #f1ece4;
$black: #1d1e18;
$navy: #0e1c2f;
$blue: #2463a6;
$beige: #f5e0bf;
$purple: #8c86aa;
$darkpurple: #696178;
$radius: 8px;
$border: 1px solid $black;

@font-face {
  font-family: "Tropikal";
  src: url("../components/assets/tropikal-bold-webfont.woff") format("woff");
  font-weight: bold;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $black;
  border-radius: $radius;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $blue;
  border-radius: $radius;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", verdana, sans-serif;
  font-size: 1.2rem;
  width: 100vw;
  height: 100vh;
  background-color: $white;
  background-image: url("https://media.giphy.com/media/3og0IyRiAsl1Pczi6Y/giphy.gif");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  // background-image: url("../components/assets/cloud-static-bg.png");
   
  background-size: cover;
  overflow-x: hidden;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin:0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

h1,
h2,
h3,
h4 {
  font-family: "Tropikal", Georgia, serif;
}

a {
  color: $black;
}
a:hover {
  text-decoration: none;
  color: $blue;
}

.btn {
  color: $blue;
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid $blue;
  border-radius: $radius;
}
.btn:hover {
  background-color: $blue;
  padding: 5px 20px;
  margin: 0 10px;
  border: 1px solid $blue;

  color: $white !important;
}

// ----------- Content ---------- //
.animation-mode{
  display: flex;
  justify-content: end;
  font-size: 0.8rem;
  background: $white;
  padding: 8px 25px ;
  align-items: center;
p {
  margin-bottom:0;
  margin-right:15px;
}
}
.bg-blur {
  background-color: rgba($color: #f1ece4, $alpha: 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.navbar,
footer {
  a {
    padding: 5px 20px;
    margin: 0 10px;
  }
  a:hover {
    color: #2463a6;
    text-decoration: none;
    border-bottom: 1px solid $blue;
  }
  a:focus {
    color: #2463a6;
    text-decoration: none;
    border-bottom: 1px solid $blue;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    display: inline-flex;
    justify-content: space-between;
  }
}
.navbar {
  font-family: "Tropikal", Georgia, serif;
  font-size: 1.3rem;
}
.homepage {
  height: 40vh;
  width: 70vw;
  padding: 0 20px;
  margin: auto;
  display: flex;
  align-items: center;

  .socials {
    z-index: 2;
    font-size: 1.6rem;

    .menu {
      display: block;
      position: fixed;
      right: 0;
      margin: 0 40px 0 25px;
    }
    ul {
      text-align: right;
      list-style: none;
    }
  }

  .introduction {
    width: 55vw;
  }
  .scroll-description {
    text-align: center;
  }
}
section {
  padding: 25px 0;
}
.homepage__featured-work {
  height: 60vh;
  h1 {
    text-align: center;
    margin: 50px 0;
  }
  .card-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    a {
      margin: 15px;
      border: 1px solid $white;
    }
  }

  a:hover {
    text-decoration: none;
    border: 1px solid #f1ece4;
    color: $black;
    border-radius: $radius;
    .card {
      box-shadow: 0 0 10px 2px rgba(187, 164, 128, 0.1);
      background-color: rgba($color: #ffffff, $alpha: 0.6);
      &__btn {
        color: $blue;
      }
    }
  }
  .card {
    //width: 450px;
    width: 27rem;
    border-radius: $radius;
    min-height: 100%;
    justify-content: space-between;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba($color: #f1ece4, $alpha: 0.3);
    border: transparent;

    &__img {
      background-color: $black;
      border-radius: $radius;
      img {
        border-radius: 8px 8px 0 0;
        width: 100%;
        object-fit: cover;
      }
    }

    &__body {
      padding: 15px 30px;
      display: flex;
      flex-direction: column;
      p {
        font-size: 1rem;
      }
      .role {
        font-size: 1rem;
        //font-weight: bold;
      }
    }
    &__btn {
      color: $black;
      padding: 5px 15px;
      text-align: center;
      font-size: 1rem;
    }
  }
}

footer {
  border-top: $border;
  text-align: center;
  padding: 35px;
}

