<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SLSA 2021 | About Me</title>
    <link rel="shortcut icon" type="image/jpg" href="../favicon.ico"/>
    <meta name="author" content="Shania Ambros" />
    <meta
      name="keywords"
      content="portfolio, design, design portfolio, student portfolio, folio, web design, social media marketing"
    />
    <script src="https://kit.fontawesome.com/2592becfac.js" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../css/main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>

</head>
<body>
  <header class="sticky-top">
    <div class="bg-blur">
        <div class="animation-mode">
  <p >Click this toggle to turn off background animation</p>
  <label class="switch">
    <input type="checkbox" onclick="alert('Wait a minute, this is not available yet. You are interacting with a placeholder!')">
    <span class="slider round"></span>
  </label>
      </div>
      <nav class="navbar">
        <a id="navbrand-title" href="../index.html"> <img src="./assets/icon.png" class="logo-nav" alt="personal brand logo"></a>
        <div class="nav-links">
          <a href="./components/case-studies.html">Case Studies</a>
          <a href="./components/visual-gallery.html">Social Media Design</a>
          <a href="./components/about.html">About Me</a>
        </div>
        <a href="https://drive.google.com/file/d/1TMIQtHU46NMOSLVnmwWF3fTO7fUM4Irm/view?usp=sharing" target="_blank" type="button" class="btn">Resume</a>
      </nav>
    </div>
  </header>


    <main id="about">
      <div class="baybayin-animation">
        <h1 class="baybayin-header" id="rise">sny</h1>
             </div>
        <section class="about__intro">
          <h2 >Hello, my name’s Shania <span class="pronouns">(she/her)</span></h2>
       
        <p>As a Web Design and Development student, I’m learning principles of Sociology, Visual Design, Communications, and Computer Science. By understanding Web Design and Development as an interdisciplinary practice, I'm able to develop ethical concepts and team-building skills that support Social Good projects and advocacy work. Along the way, I've learned how to engage in social outreach work for community and hackathon organizing.   
        </p>
        <h3>One thing I can't live without</h3>
        <p>My support system. They're my motivation and reminder to take better care of myself. As a first generation U.S. college student and immigrant from Baguio City, Philippines, I had a rocky start navigating college. Despite my peers and teachers telling me "I can dream to work in any profession of my choice", that wasn't a safe reality until my Junior year. Since there's a budding community of BIPOC student Creative Developers in the New England area (that I'm aware of), I like to offer high school and collegiate guidance for folks interested in UX, Product, Outreach Engagement, or Graphic Design fields.</p>
        </section>
<section class="about__tools">
  <h3>My productivity tools</h3>
  <div class="card-wrap" >
    <a href="https://www.goodnotes.com/#" type="card">
      <div class="mini-card">
        <div class="mini-card__img">
           <img src="./assets/goodnotes_logo_horizontal.png" alt="Goodnotes vertical logo">
        </div>
      </div>
    </a>
    <a href="https://passionplanner.com/" type="card">
      <div class="mini-card">
        <div class="mini-card__img">
          <img src="./assets/PassionPlannerLogoDecal200_70x70.webp" alt="Passion planner logo" class="smaller-icon">
        </div>
        
      </div>
    </a>

    <a href="https://developers.google.com/drive" type="card">
      <div class="mini-card">
        <img src="./assets/logo_drive_2020q4_color_2x_web_64dp.png" alt="Google Drive" class="smaller-icon">
      </div>
    </a>

    <a href="https://www.forestapp.cc/" type="card">
      <div class="mini-card">
        <div class="mini-card__img">
        <img src="./assets/forect-icon.png" alt="Forest App Logo" class="smaller-icon">
        </div>
      </div>
    </a>

  </div>
</section>    
        <section class="about__currentWork">
<h3>My current activities</h3>
<div class="card-wrap">    
    
      <a href="http://web.simmons.edu/~ambros/" type="card"><div class="card"><div class="card__body">
        <h4>Full-time Student</h4>
        <p class="role">Student at Simmons and on the web!</p>
        <p>Spring 2021 Courseload: Web-Centric Programming, Animation, Introduction to Social Research, Virtual Internship.<br>Emerge SFU: UX/UI Design & Web Dev</p>
        <div class="card__btn justify-end">
          <p>View My Academic Progress <i class="bi bi-arrow-right"></i></p></div
      >
      </div>
    </div></a>

    <a href="https://www.snehi.org/" type="card"><div class="card"><div class="card__body">
      <h4>Snehi Digital Media Intern</h4>
      <p class="role">Virtual Intern</p>
      <p>SIT Virtual Intern scholarship recipient: Working on a social campaign and website project for Snehi, a mental health organization based in India.</p>
      <div class="card__btn ">
        <p>Learn More About Snehi <i class="bi bi-arrow-right"></i></p></div
    >
    </div>
  </div></a>
  <a href="https://hackbeanpot.com" type="card"><div class="card"><div class="card__body">
    <h4>HackBeanpot Core</h4>
    <p class="role">Designer</p>
    <p>Organizing HackBeanpot 2021 was a blast so I decided to come back for another season :) I plan to return on the Design team.</p>
    <div class="card__btn">
      <p>Learn More About HackBeanpot <i class="bi bi-arrow-right"></i></p></div
  >
  </div>
</div></a>

  <a href="https://devpost.com/Ulam22" type="card"><div class="card"><div class="card__body">
    <h4>Hackathon participant</h4>
    <p class="role">Front-End Developer & Product Designer</p>
    <p>I'm either going to hackathons for their workshops, creating a project with new friends, or both!</p>
    <div class="card__btn">
      <p>View My DevPost Portfolio<i class="bi bi-arrow-right"></i></p></div
  >
  </div>
</div></a>
</div>
   
        </section>
        <nav class="socials">
          
          <div class="menu">
            <ul>
              <li>
                <a href="https://instagram.com/isuratmo" target="_blank"
                  ><i class="bi bi-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://github.com/Ulam22" target="_blank"
                  ><i class="bi bi-github"></i
                ></a>
              </li>
              <li>
                <a href="https://linkedin.com/in/sambros" target="_blank"
                  ><i class="bi bi-linkedin"></i
                ></a>
              </li>
              <li><a href="https://devpost.com/" target="_blank"><img src="https://img.icons8.com/ios-filled/50/000000/devpost.png" class="devpost-icon"></a></li>
            </ul>
          </div>
        </nav>
      </main>
      <footer>
        <h4>Interested in working together?</h4>
        <a href="mailto:ambros@simmons.edu">Send me an email 📧</a> 
      </footer>
      <script>
        gsap.fromTo(
          "#rise",
          { opacity: 0, y: 100 },
          { duration: 1, opacity: 1, y: 0}
        );
        gsap.fromTo(
          ".logo-nav", 
          {opacity: 0, y:-30}, {duration: 1.6,opacity:1, y:0, rotation:360}
        );
      </script>
</body>
</html>