<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLSA 2021</title>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="../favicon.ico" />
    <meta name="author" content="Shania Ambros" />
    <meta
      name="keywords"
      content="portfolio, design, design portfolio, student portfolio, folio, web design, social media marketing"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/article.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  </head>
  <body>
    <header class="sticky-top">
      <div class="bg-blur">
        <div class="animation-mode">
          <p>Click this toggle to turn off background animation</p>
          <label class="switch">
            <input
              type="checkbox"
              onclick="alert('Wait a minute, this is not available yet. You are interacting with a placeholder!')"
            />
            <span class="slider round"></span>
          </label>
        </div>
        <nav class="navbar">
          <a id="navbrand-title" href="../index.html">
            <img
              src="./assets/icon.png"
              class="logo-nav"
              alt="personal brand logo"
          /></a>

          <div class="nav-links">
            <a
              href="#"
              onclick="alert('Hold on, I am not ready yet! Click on the cards below to view available case studies.')"
              >Case Studies</a
            >
            <a
              href="#"
              onclick="alert('Hold on, I am not ready yet! Feel free to check out my socials in the meantime.')"
              >Social Media Design</a
            >
            <!-- 
            <a href="./components/case-studies.html">Case Studies</a>
            <a href="./components/visual-gallery.html">Social Media Design</a>-->
            <a href="./components/about.html">About Me</a>
          </div>
          <a
            href="https://drive.google.com/file/d/1TMIQtHU46NMOSLVnmwWF3fTO7fUM4Irm/view?usp=sharing"
            target="_blank"
            type="button"
            class="btn"
            >Resume</a
          >
        </nav>
      </div>

      <div class="progress" id="scrollIndicator"></div> 

    </header>

    <main>
      <article>
        <section class="article__intro">
         
          <div class="article__img-banner">
            <img
              src="assets/HBP-Reveal-blue.png"
              alt="HackBeanpot Camping theme reveal social post in blue"
            />
          </div>
          <div class="article__decription">    
            <div class="article__description-card">
                <h2 class="article-title">HackBeanpot 2021 Concept Development</h2>
              <h5>Defining HackBeanpot's brand and exploring hackathon themes</h5>
              <div class="article__card-body">
                
<h6>
                  <span class="text-bold">Role:</span>Social & Outreach Designer
                </h6>
               <h6>
                  <span class="text-bold">Project: </span>HackBeanpot 2021
                </h6>
               
                   
                  <h6>
                  <span class="text-bold">Tools: </span> Figma, Google Drive,
                  Slack, Trello, Zoom
                </h6> <h6>
                  <span class="text-bold">Location: </span> Remote
                </h6>
               <h6><span class="text-bold">Duration: </span> April 2020 - March 2021</h6>
                
               
              </div>
            </div>
          </div>
        </section>
        <section class="article__text-focus">
          <div class="section-container">
            <h2>Problem</h2>
            <p>No brand guidelines, different interpretations of HackBeanpot, and no theme. 
            </p>
            <p>
                As a collective, we needed to come up with a hackathon theme that focuses on promoting positive learning experiences in the Tech space without excluding fields like Design or Project Management. We also needed to consider visualizing our event for the entire hackathon community.  </p>
                <h2>Challenges</h2>
                <p>Since this was my first time contributing to a long-term hackathon event management project, I never had to think about the scope beyond the hacker experience before. Additionally, this is the first time HackBean Core had to organize a virtual hackathon in a completely virtual space <span class="italics">during a pandemic</span>. </p>
                <p>Before the Design team could start brainstorming theme ideas for HackBeanpot 2021, we had to first run through our brand strategy and our "bean voice" (our brand voice). </p>
          </div>
          <div class="section-container">
            <h2>Brand Development Objectives</h2>
            <ul class="goals-list">
              <li>Meet with core to talk through personal perspectives about HackBeanpot</li>
              <li>Define HackBeanpot's persona and set brand voice guidelines</li>
              <li>Develop ideal Personas for Hackers, Collaborators, Judges, and Sponsors</li>
            </ul>

            <h2>Design Team Objectives</h2>
            <ul class="goals-list">
                <li>Participate in brainstorming sessions and feedback activities using Zoom, Trello, and Figma.</li>
            <li>Create a design system that's on brand with HackBeanpot's character and theme</li>
            <li>Include a set of design components to reuse throughout the year</li>
            </ul>
          </div>
        </section>
        <section class="article__img-initials">
          <div class="article__img-banner">
            <img src="#" alt="#" />
          </div>
          <section class="article__text-focus">
            <div class="section-container">
              <h2>Team Branding Activities</h2>
            <br>
            <h3>5 Hats</h3>
               <ul><li class="blockquote">"HackBeanpot is all about the Hackathon"
            </li>
            <ul>
                <li>Devil’s Advocate: There are many other ways currently in which HBP conducts activities that can’t be directly linked to the event itself. 
               </li> 
               <li>The Logistics: Currently have Core teams that facilitate things aside from the event itself. But there are separate teams made to directly work on the event. So maybe HBP Core teams can also direct their focus on things outside just the event?? 
               </li> 
               <li>
                   The Creative: Maybe we can use our HBP brand to lead into other ventures — giving back to the community, expanding our community, etc. 
                
               </li>
             
                <li>
Think about using our brand identity to branch out and think about other areas 
              
                </li> 
                </ul>
            <li>HackBeanpot should consider other means of giving back to the community</li>
        <li>HackBeanpot should primarily do outreach to 1st/2nd year hackers
        </li>  
        <li></li> 
        </ul>
        <h3>HackBeanpot Characters</h3>
            </div>
            <div class="section-container">
              <h2>Developing our brand voice</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
                nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed
                nisi.
              </p>
            </div>
          </section>
          <section class="article__img-grid">
            <div class="grid-wrap">
              <div class="grid">
                <img src="#" alt="#" />
              </div>

              <div class="grid">
                <img src="#" alt="#" />
              </div>

              <div class="grid">
                <img src="#" alt="#" />
              </div>
            </div>
          </section>
          <section class="article__text-focus">
            <h2>User Personas</h2>
            <p>Hackers</p>
            <p>Sponsors</p>
            <p>Mentors</p>
            <p>Partners</p>
          </section>
          <section class="article__img-grid">
            <div class="grid-wrap">
              <div class="grid">
                <img src="#" alt="#" />
              </div>

              <div class="grid">
                <img src="#" alt="#" />
              </div>

              <div class="grid">
                <img src="#" alt="#" />
              </div>

              <div class="grid">
                <img src="#" alt="#" />
              </div>
            </div>
          </section>
          <section class="article__text-focus">
            <div class="section-container">
              <h3>Design System</h3>
              <p>Lorem Ipsum</p>
            </div>
          </section>
          <section class="article__img-grid">
            <div class="grid-wrap">
              <div class="grid">
                <img src="#" alt="#" />
              </div>

              <div class="grid">
                <img src="#" alt="#" />
              </div>

              <div class="grid">
                <img src="#" alt="#" />
              </div>

              <div class="grid">
                <img src="#" alt="#" />
              </div>
            </div>
          </section>
        <section class="article__text-focus">
        <h3>Impact</h3>
        <ul>
            <li>Lorem</li>
            <li>Lorem</li>
        </ul>
            <h3>Takeaways</h3>
            <p>Having prior experience organizing and volunteering for affinity clubs and art pop ups definitely made this learning curve easier. However, it did feel overwhelming at times when I would anxiously feel like my skills weren't on par with everyone else. Despite these feelings, I would always end up gradually leaving that negative mental state because everyone on the Design and Core teams would create such a positive atmosphere and uplifting work space.</p>    
        </section>
        <section class="article__text-focus">
          <h3>Additional references</h3>
          <a class="btn" href="https://hackbeanpot.com" type="button"
            >Visit HackBeanpot's Website</a
          >
        </section>
      </article>
      <div class="pagination">
        <div class="pagination-back">
          <a href="#"
            ><ion-icon name="arrow-back"></ion-icon> Read Case Study</a
          >
        </div>
        <div class="pagination-next">
          <a href="#"
            >Read Case Study <ion-icon name="arrow-forward"></ion-icon
          ></a>
        </div>
      </div>
    </main>
    <footer>
      <h4>Interested in working together?</h4>
      <a href="mailto:ambros@simmons.edu">Send me an email 📧</a>
    </footer>
    <script>
      gsap.fromTo(
        ".logo-nav",
        { opacity: 0, y: -30 },
        { duration: 1.6, opacity: 1, y: 0, rotation: 360 }
      );
    </script>
    <script type="text/javascript"> 
        window.addEventListener('scroll', 
                moveScrollIndicator); 
  
        const scrollIndicatorElt = 
            document.getElementById('scrollIndicator'); 
  
        const maxHeight = 
            window.document.body.scrollHeight 
            - window.innerHeight; 
  
        function moveScrollIndicator(e) { 
            const percentage =  
                ((window.scrollY) / maxHeight) * 100; 
  
            scrollIndicatorElt.style.width 
                = percentage + '%'; 
        } 
    </script> 
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-JME82109LR');
      </script>
  </body>
</html>
