<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLSA 2021 | HBP Brand Identity</title>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="../favicon.ico" />
    <meta name="author" content="Shania Ambros" />
    <meta
      name="keywords"
      content="portfolio, design, design portfolio, student portfolio, folio, web design, social media marketing"
    />
    <script src="https://kit.fontawesome.com/2592becfac.js" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/article.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  </head>
  <body>
    <header class="sticky-top">
      <div class="bg-blur">
       
        <nav class="navbar">
          <a id="navbrand-title" href="../index.html">
            <img
              src="./assets/icon.png"
              class="logo-nav"
              alt="personal brand logo"
          /></a>

          <div class="nav-links">
           <!-- <a
              href="#"
              onclick="alert('Hold on, I am not ready yet! Click on the cards below to view available case studies.')"
              >Case Studies</a
            >
            <a
              href="#"
              onclick="alert('Hold on, I am not ready yet! Feel free to check out my socials in the meantime.')"
              >Multimedia Design</a
            >
             
            <a href="./components/case-studies.html">Case Studies</a>
            <a href="./components/visual-gallery.html">Social Media Design</a>-->
            <a href="./about.html">About Shania</a>
          </div>
          <a
            href="https://drive.google.com/file/d/1TMIQtHU46NMOSLVnmwWF3fTO7fUM4Irm/view?usp=sharing"
            target="_blank"
            type="button"
            class="btn"
            >Resume</a
          >
        </nav>
      </div>

      <div class="progress" id="scrollIndicator"></div> 

    </header>

    <main>
      <article>
        <section class="article__intro">
         
          <div class="article__img-banner">
            <img
              src="./assets/HBP-Reveal-blue.png"
              alt="HackBeanpot Camping theme reveal social post in blue"
            />
          </div>
          <div class="article__decription">    
            <div class="article__description-card">
                <h2 class="article-title">HackBeanpot 2021 Concept Development</h2>
             
                
              <div class="article__card-body">
                
<h6>
                  <span class="text-bold">Role:</span>Social & Outreach Designer
                </h6>
               <h6>
                  <span class="text-bold">Project: </span>HackBeanpot 2021
                </h6>
               
                   
                  <h6>
                  <span class="text-bold">Tools: </span> Figma, Google Drive,
                  Slack, Trello, Zoom
                </h6> <h6>
                  <span class="text-bold">Location: </span> Remote
                </h6>
               <h6><span class="text-bold">Duration: </span> April 2020 - March 2021</h6>
                
               
              </div> <div class="filter">
                <h6 class="tag">Brand Identity</h6>
                <h6 class="tag">Concept Development</h6>
              </div>
            </div>
            
          </div>
        </section>
        <hr>
        <section class="article__text-focus">
          <div class="section-container">
            <h2>Problem</h2>
            <ul class="todo">
               
                <li>Core members have different interpretations of HackBeanpot</li>
                <li>HackBeanpot traditionally has a theme, so we need to come up with an original concept</li> 
             </ul>
             </div>
          <div class="section-container">
              <h2>Challenges</h2>
                <p>Since this was my first time contributing to a long-term hackathon event management project, I never had to think about the scope beyond the hacker experience before. Additionally, this is the first time HackBean Core had to organize a virtual hackathon in a completely virtual space <span class="italics">during a pandemic</span>. </p>
                <p>Before the Design team could start brainstorming theme ideas for HackBeanpot 2021, we had to first run through our brand strategy and our "bean voice" (our brand voice). </p>
          
          </div>
        </section>
         
       

              <h1>Team Branding Activities</h1>
       
          
          </section> 
    <section class="article__iframe">
       
       <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vQd_RrL6m94amUKZSFZJotTr13dlB94k4cnJrrh5MLHBspSXYqaIXO6zlaapnyy4xsYD5YLjklJnpf0/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
      
</section>
    <!--  
<section class="article__text-focus">
    
     
      <h2>User Personas</h2>
    
</section>
  <section class="users">
      <div class="article__description-card">

  
      </div>
      </section>  -->
          <h1>Styling Our Brand</h1>
          <section class="article__img-banner-sm">
              
            <img
            src="./assets/playground2.png"
            alt="2021 brand colors"
          />
        
            <img
            src="./assets/playground.png"
            alt="all the brand components scrambled"
          />
          </section>
          
          <h1>As a result...</h1>
         <section class="article__text-focus">
          <div class="section-container">
            <h3>Brand Development Accomplishments</h3>
            <ul class="todo-comp">
              <li>Set brand voice guidelines</li>
              <li>Defined HackBeanpot's persona</li>
              <li>Developed user personas for Hackers, Collaborators, Judges, and Sponsors</li>
            </ul>
       
            <h3>Design Team Accomplishments</h3>
            <ul class="todo-comp">
                <li>Participated in brainstorming sessions and feedback activities</li>
            <li>Created a successful design system</li>
            <li>Utilized versatile design components available on figma</li>
            </ul>
          </div>
        </section>
        <section class="img-grid">
            <div class="grid-wrap">
              <div class="grid">
                  <div class="grid-body">

                  
                <img src="./assets/Instagram Post - 3.png" alt="Sneek peek before theme reveal post" />
              </div></div>
              
              <div class="grid"><div class="grid-body">
                <img src="./assets/Instagram Post - 2.png" alt="Instagram Theme Reveal" />
              </div></div>
            
              <div class="grid">  <div class="grid-body">
                <img src="./assets/photo cards.jpg" alt="Hackathon applications" />
              </div>

            
            </div>
          </section>
        <section class="article__text-focus">
       <!--<h3>Impact</h3>
         <ul class="todo-impact">
            <li>Lorem</li>
            <li>Lorem</li>
        </ul>--> <h3>Takeaways</h3>
         <p>Having prior experience organizing and volunteering for affinity clubs and art pop ups definitely made this learning curve easier.
        <p>
                As a collective, we needed to come up with a hackathon theme that focuses on promoting positive learning experiences in the Tech space without excluding fields like Design or Project Management. Working with everyone was an amazing opportunity that helped me grow as a Designer, organizer, and student. It certainly wasn't easy building a virtual event for 300+ people!  </p>
              
           </section>
           
        
         <section class="article__footer">
            <h3>Additional references</h3>
                    <a class="btn" href="https://hackbeanpot.com" type="button"
            >HackBeanpot's Website</a
          >
          <a class="btn" href="https://www.instagram.com/hackbeanpot/" type="button"
            ><i class="bi bi-instagram"></i></a
          >
          <a class="btn" href="https://www.facebook.com/hackbeanpot" type="button"
            ><i class="bi bi-facebook"></i></a
          >
          <a class="btn" href="https://twitter.com/HackBeanpot" type="button"
            ><i class="bi bi-twitter"></i></a
          >
          <a class="btn" href="https://hackbeanpot.medium.com/" type="button"
            ><i class="fab fa-medium-m"></i></a
          >
             
        </section>
      </article>
      <!--  
      <div class="pagination">
        <div class="pagination-back">
          <a href="#"
            ><ion-icon name="arrow-back"></ion-icon> Read Case Study</a
          >
        </div>
        <div class="pagination-next">
          <a href="#"
            >Read Case Study <ion-icon name="arrow-forward"></ion-icon
          ></a>
        </div>
      </div>-->
    </main>
    <footer>
      <h4>Interested in working together?</h4>
      <a href="mailto:ambros@simmons.edu">Send me an email 📧</a>
    </footer>
    
  </body>
</html>
