<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SLSA 2021 | One Down Redesign</title>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <link rel="shortcut icon" type="image/jpg" href="../favicon.ico" />
    <meta name="author" content="Shania Ambros" />
    <meta
      name="keywords"
      content="portfolio, design, design portfolio, student portfolio, folio, web design, social media marketing"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css"
    />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script>
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/article.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
  </head>
  <body>
    <header class="sticky-top">
      <div class="bg-blur">
        <!--<div class="animation-mode">
          <p>Click this toggle to turn off background animation</p>
          <label class="switch">
            <input
              type="checkbox"
              onclick="alert('Wait a minute, this is not available yet. You are interacting with a placeholder!')"
            />
            <span class="slider round"></span>
          </label>
        </div>-->
        <nav class="navbar">
          <a id="navbrand-title" href="../index.html">
            <img
              src="./assets/icon.png"
              class="logo-nav"
              alt="personal brand logo"
          /></a>

          <div class="nav-links">
           <!-- <a
              href="#"
              onclick="alert('Hold on, I am not ready yet! Click on the cards below to view available case studies.')"
              >Case Studies</a
            >
            <a
              href="#"
              onclick="alert('Hold on, I am not ready yet! Feel free to check out my socials in the meantime.')"
              >Multimedia Design</a
            >
             
            <a href="./components/case-studies.html">Case Studies</a>
            <a href="./components/visual-gallery.html">Social Media Design</a>-->
            <a href="./about.html">About Shania</a>
          </div>
          <a
            href="https://drive.google.com/file/d/1TMIQtHU46NMOSLVnmwWF3fTO7fUM4Irm/view?usp=sharing"
            target="_blank"
            type="button"
            class="btn"
            >Resume</a
          >
        </nav>
      </div>

      <div class="progress" id="scrollIndicator"></div> 

    </header>

    <main>
      <article>
        <section class="article__intro">
          <div class="video-center">
            <figure>
              <video width="800" height="480" controls>
            <source src="./assets/onedown-runthru.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>
          <figcaption>A short overview video of the final look for one-down.com</figcaption>
            </figure>
           </div>
          <div class="article__decription">    
            <div class="article__description-card">
                <h2 class="article-title">One Down Internship</h2>
             
                
              <div class="article__card-body">
                
<h6>
                  <span class="text-bold">Role:</span> Web Design Intern
                </h6>
               <h6>
                  <span class="text-bold">Project: </span>Website Redesign</h6>
               
                   
                  <h6>
                  <span class="text-bold">Tools: </span> Figma, Google Analytics, Squarespace
                </h6> <h6>
                  <span class="text-bold">Location: </span> Remote
                </h6>
               <h6><span class="text-bold">Duration: </span> September 19  - October 31</h6>
                
               
              </div> <div class="filter">
                  <h6 class="tag">Web Design</h6>
                  <h6 class="tag">UI Design</h6>
                  <h6 class="tag">Brand Identity</h6>
              </div>
            </div>
            
          </div>
        </section>
        <hr>
         <section class="article__text-focus">
            <h1>Who's One Down?</h1>
     <p>One Down is a Filipino-American multimedia publishing platform on the rise. With a growing Facebook following of 47,000+ people, this company wanted to redesign their website to have an official website that was on par with other leading cultural media publishers like mitú, and buzzfeed, . The stakeholders I communicated with on a weekly basis were Grazian Moreno (Director of Marketing and Brand Partnerships) and Leo Albea (Co-Founder & Creative Director).</p>  
          
        </section>
        <section class="article__text-focus">
          <br>
          <div class="section-container">
            <h2>Problem</h2>
            <ul>
                <li>People were spending a maximum average of 10 seconds on the site </li>
                <li>People were dropping off at the home page</li>
                <li>The site didn't quite match One Down's visual brand</li> 
             </ul>
             </div>
        </section>
        <h1>Original website pain points</h1>
          <section class="article__img-banner-sm">
              
            <img
            src="./assets/homepage_navigation.png"
            alt="Highlighting original navigation setup. The video did not load when I took this screenshot, which is why the photo is mostly black."
          />
        
            <img
            src="./assets/coconut_homepage.png"
            alt="A snapshot image of the call to action button on the homepage after the video."
          />
          <img
          src="./assets/footer.png"
          alt="A close look at the footer from the original website"
        />
          </section>
        <section class="article__text-focus">
          <div class="section-container">
              <h2>Goals for this project</h2>
              <ul class="todo">
               
                <li>Increase session counts in Users Flow</li>
                <li>Setup the home page to become a landing page</li>
                <li>Make the site be on par with other culture and society media websites</li> 
             </ul>
             <p>Between the stakeholders and I, we determined that the site's Minimum Viable Product required the homepage, video, and article pages.</p>
      
             </div>  
          
        </section>
       
        <h1>Wireframes</h1>
        <section class="article__img-banner-sm">
            
          <img
          src="./assets/visguide1.png"
          alt="A basic visual guide on how to understand the web design"  />
      
          <img
          src="./assets/finalize.png"
          alt=" "
        />
      
        </section>
 
    
   
<section class="article__text-focus">
    
     
    <div class="section-container">
        <h2>Challenges</h2>
              <p>In the Videos section, my initial goal was to create a gallery view of all the media content One Down produced. However, I was sourcing these videos from Youtube and Facebook, which made the videos at different dimensions.</p>
    <br><p>I had to quickly familiarize myself with Squarespace 7.0 because the website was running on this version. I initally drafted multiple web layouts thinking I would use all the features from Squarespace 7.1, but that was not the case. If I didn't update my wireframes, it would've costed the business $216 dollars to renew the plan and update the template base.</p>
    </div>
    
</section>
<h1>Website snapshots</h1>
<section class="article__img-banner-sm">
    <img
  src="./assets/one-down-landing.png"
  alt="Landing page snapshot"
/>

  <img
  src="./assets/btt.png"
  alt="Social Campaign page snapshot, 'Breaking the Tabo'"  />

  

</section>
          <h1>As a result...</h1>
         <section class="article__text-focus">
          <div class="section-container">
            <h3>Accomplishments</h3>
            <ul class="todo-comp">
              <li>By redesigning the site’s Information
                Architecture, average session duration rate
                increased by 64% and the bounce rate
                decreased by 23.8% in October and November</li>
                <li>Aligned the website with the visual brand</li>
              <li>Made the social campaign the "call to action" on the home page</li>
              <li>Listed the recent and trending content on the home page so that viewers can visit other pages on the site.</li> 
            </ul><p>For the Editorial and Video sections of the site, I couldn't seem to find an option to make one section of the page a different color than the rest of the page, so I injected CSS thanks to the site’s Business plan features.</p>
          </div>
        </section>
       
        <section class="article__text-focus">
    <h3>Takeaways</h3>
       
        <p>Looking back, I now understand why I should have done a user survey in the beginning. This way, I could understand why people seeked out One Down's website instead of sticking to their social media profiles. At the end of October, the visitors and user engagement didn’t match up with the big audience on their Facebook platform, but there was still progress! Based on the data from Google Analytics, people were actively browsing the site. The articles section was a hit, especially for the last article in the October Filipino American History Month series.
        </p>
         <p>In addition to my work, I wanted to help Grazian better understand the Squarespace 7.0 site editor. As the temporary individual Web Designer for the media platform, I thought that making a visual guide would help the core team in the future.</p>
              <br>
              <ul>
                  <h4>What I learned</h4>
                  <li>I need to know how to effectively hand off a project</li>
                  <li>Don't assume user interests
                  </li>
                  <li>Squarespace’s design features are very different depending on which version you’re on.</li>
              </ul>
           </section>
           
        
         <section class="article__footer">
             <h3>Additional references</h3>
                    <a class="btn" href="https://one-down.com" type="button"
            >One Down's Website</a
          >
          <a class="btn" href="https://www.instagram.com/onedwnmedia/" type="button"
            ><i class="bi bi-instagram"> </i> Instagram</a
          >
          <a class="btn" href="https://www.facebook.com/onedwnmedia" type="button"
            ><i class="bi bi-facebook"></i> Facebook</a
          >
          <a class="btn" href="https://www.youtube.com/channel/UCYuOZy_oPeZL_1BdHxf-Y2Q/about" type="button"
            ><i class="bi bi-youtube"></i> Youtube</a
          >
                
         
        </section>
      </article>
      <!--  
      <div class="pagination">
        <div class="pagination-back">
          <a href="#"
            ><ion-icon name="arrow-back"></ion-icon> Read Case Study</a
          >
        </div>
        <div class="pagination-next">
          <a href="#"
            >Read Case Study <ion-icon name="arrow-forward"></ion-icon
          ></a>
        </div>
      </div>-->
    </main>
    <footer>
      <h4>Interested in working together?</h4>
      <a href="mailto:ambros@simmons.edu">Send me an email 📧</a>
    </footer>
   
    
  </body>
</html>
